/* yo this is mobile-first. desktop at bottom */



@font-face {
  font-family: 'galderglynn';
  src: url('../fonts/galderglynn/galderglynn_titling_bl.ttf');
}

@font-face {
  font-family: 'questrial';
  src: url('../fonts/questrial/Questrial-Regular.ttf');
}

:root {
  --yellow: yellow;
  --blue: blue;
}

html {
  height: 100%;
  margin: 0;
}

/* no outline on form things */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

body {
  background-color: var(--yellow);
  color:white;
  /* text-shadow: -4px 0 var(--blue), 0 4px var(--blue), 4px 0 var(--blue), 0 -4px var(--blue); */

  font-family: 'galderglynn', sans-serif;
  margin: 0;
  padding:0;
}

.start {
  cursor: none;
}

.start .blackbar:nth-of-type(2) {
  bottom: 0px;
}

.start .enterText,
#mobileStart .enterText {
  align-items: center;
  background-color: white;
  border: 0.36vw solid var(--blue);
  bottom: 20vh;
  color: blue;
  display: none;
  font-family: questrial;
  font-size: 2.5vw;
  justify-content: center;
  height: 5vw;
  left:40vw;
  padding: 0.1vw;
  position: fixed;
  width: 20vw;
}

/* @media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {

  /* body {
    background-color: red;
  } */

} */

/* For desktop: */
body {
  color:white;
}

/* begin HOME */
.home {
  height: 100%;
  width: 100%;
}

.homeDesktop {
  display: inherit;
  height: 100%;
  width: 100%;
}
.mobile {
  display: none;
}
.homeDesktop div {
  background-color: white;
  border: 0.36vw solid var(--blue);
  color: var(--blue);
  display: inline-block;
  font-size: 10.5vw;
  padding: 0 2.4vw 1vh 2.4vw;
  position: fixed;
}
.homeDesktop div:hover {
  background-color: var(--yellow);
}
.homeDesktop .work {
  cursor: pointer;
  display: none;
  left: 38vw;
  top: 11vh;
}

.homeDesktop .shopText {
  cursor: pointer;
  display: none;
  right: 6vw;
  top: 38vh;
}

.homeDesktop .mark {
  bottom: 6vh;
  cursor: pointer;
  display: none;
  left: 48vw;
}

.homeDesktop .mark span {
  pointer-events: none;
}

.homeDesktop .mark:hover {
  background-color: var(--yellow);
}


.homeDesktop .info {
  display: none;
  bottom: 25vh;
  font-family: questrial;
  font-size: 2.1vw;
  left: 8vw;
  max-width: 30vw;
  padding: 2vw;
}

.homeDesktop .info:hover {
  background-color: white;
}
.homeDesktop #mailto {

}

.homeDesktop #priv {
  text-align: right;
  margin-top: 2vw;
}

.homeDesktop #priv a:visited {
  color:inherit;
}

#leftStacked {
  height: 100%;
  padding: 4vh;
  position: fixed;
  z-index: -1000;
}
#leftStacked img {
  height: 92vh;
}

.info span {
  display: block;
}

.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.center > div {
  text-align: center;
  width:100%;
}


#welcome svg, .press svg {
  font-size: 75px;
  padding-left: 3px;
  width: 66%;
  z-index: 2;
}

#welcome svg text, .press svg text{
  stroke-width:2px;
}

.press {
  font-size: 100px;
  position: relative;
  top: 0;
  left: 0;
}
.press svg {
  position: fixed;
}

.homeDesktop text{
  fill: var(--yellow);
}

svg text {
  fill: white;
  stroke: var(--blue);
  stroke-width:2.5px;
}

#n0 {
  z-index: 999999999;
}



/* end HOME */ /* (i think!) */

.work {
  display: flex;
}

.work .text {
  bottom: 0;
  color:var(--blue);
  font-family: questrial;
  margin-left: 2vw;
  position: fixed;
}

.work .text h1 {
  font-family: galderglynn;
  font-size: 3vw;
}

.work .text span {
  background: black;
  color: limegreen;
  font-family: monospace;
}

.work .workLeft {
  /* flex: 7; is defined below with '.shopLeft, .workLeft' */
}

.work .workRight {
  background-color: white;
  border: .36vw solid var(--blue);
  flex: 40;
  height: 100%;
}

.work .workBottom {
  bottom: 0;
  color:blue;
  font-family: questrial;
  font-size: 2vw;
  padding: 0 7vw 6vw 0;
  position: fixed;
  text-align: right;
  right: 0;
}

.workRight .workList {
  font-family: galderglynn;
  margin-left: 7vw;
  margin-top: 5vw;
}


.workList li {
  margin-bottom: 2vw;
}

.workList a:visited,
.workList a:link  {
  color: var(--blue);
  font-size: 5vw;
}



/* begin SHOP */

.shop {
  display: flex;
}

.shopLeft, .workLeft {
  justify-content: center;
  background-color: var(--yellow);
  display: flex;
  flex: 7;
  overflow-y: hidden;
  height:100%;

}

#sidescroll {
  position: relative;
  width: 80%;
}

#sidescroll > img {
  margin-bottom: 50px;
  width: 100%;
}


.shopBox {
  background-color: white;
  border: .36vw solid var(--blue);
  flex: 40;
  min-width: 0;
  height: calc(100% - .72vw);
}

.banner {
  align-items: center;
  display: flex;
  font-size: 150px;
  height: 18%;
  justify-content: center;
  position: relative;
}

.banner img#leftBannerIcon {
  cursor: w-resize;
  height: 40%;
  left: 0px;
  padding-left: 2vw;
  position: absolute;
}

.banner img#shopBannerText{
  height: 65%;
  padding: 2vh 0;
}

.mobileShop .banner img#shopBannerText{
  height: 55%;
  padding: 2vh 0;
}

.mobileShop .banner #bagbannericon {
  padding-right: 0;
}


.mobileShop .banner #bagbannericon span {
  font-size: 4vw;
  padding-right: 0.8vw;
  padding-top: 2.4vw;
}

.banner #shopProductName {
  color:var(--blue);
  font-size: 4vw;
  max-width: 63vw;
  text-align: center;
}

.banner #bagbannericon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55%;
  justify-content: center;
  right: 0;
  padding-bottom: 1vw;
  padding-right: 2vw;
  position: absolute;
}

.banner #bagbannericon img {
  height: 100%;
}

.banner #bagbannericon span {
  color: var(--blue);
  font-family: questrial;
  font-size: 2vw;
  padding-right: 0.55vw;
  padding-top: 1.3vw;
  pointer-events: none;
  position: absolute;
}

.banner #bagbannericon span.white {
  color: white;
}


.shop .scroller {
  -webkit-transition: left 1s;
  height: 81%;
  padding-bottom: 1vw;
  padding-left: 1vw;
  transition: left 1s;
  white-space: nowrap;
}

.shop .scroller > img {
  cursor: pointer;
  height: 100%;
  transition: filter 0.1s;
  transition-timing-function: ease-in;
}

.shop .scroller > img:hover {
  filter: hue-rotate(180deg);
  /* -webkit-filter: invert(1); */
   /* filter: invert(1); */
}

.shop .slowdownkiddo {
  color: var(--blue);
  font-family: courier;
  left: 105vw;
  position: absolute;
  white-space: nowrap;
}

.shop .slowdownkiddo:nth-of-type(2) {
  color:red;
  left: 220vw;
  top: 100px;
}

.shop .slowdownkiddo a {
  text-decoration: underline;
}

  /* begin BAG (child of SHOP)*/
  .shop .bag, .shop .checkout {
    display: flex;
    font-size: 1.9vw;
    height: 82%;
  }

  .shop .bag > div, .shop .checkout > div {
    padding: 0 2vw;
  }

  .bag .items #emptyMessage {
    align-items: center;
    color:var(--blue);
    display: flex;
    flex-direction: column;
    font-family: questrial;
    justify-content: center;
    padding-top: 2vw;
    width: 100%;
  }

  .bag .items #emptyMessage #emptyButton {
    background-color: var(--blue);
    border: 0.2vw solid var(--blue);
    color:white;
    cursor: w-resize;
    font-family: questrial;
    font-weight: bold;
    margin-top: 2vw;
    padding: 1vw;
    pointer-events: all;
  }

  .bag .items #emptyMessage #emptyButton:hover {
    background-color: var(--yellow);
    color:var(--blue);
  }

  .bag .items {
    overflow-y: scroll;
  }

  .bag .items, .checkout .left {
    flex: 7;
  }

  .bag .items .bagItem {
    color:var(--blue);
    font-family: questrial;
    width: 100%;
  }

  .bag .items .bagItem.desktop {
    display: flex;
    height: 14vw;
    margin-bottom: 3vh;
  }

  .bag .items .bagItem.legend {
    border-bottom: 0.4vh solid var(--blue);
    height: 5vh;
  }

  .bagItem.legend .itemText {
    flex: 386;
    height: 5vh;
  }

  .bagItem .pic {
    align-items: center;
    display: flex;
    flex: 176;
    justify-content: center;
  }

  .bagItem .pic img {
    height: 100%;
  }


  .bagItem .details {
    flex: 210;
  }

  .bagItem .price {
    flex: 156;
  }
  .bagItem .total {
    flex: 80;
  }
  .bagItem .qty {
    flex: 114;
  }
  .bagItem .qty .remove {
    color: red;
    cursor: pointer;
    font-size: 1.3vw;
    position: relative;
    top: 1vh;
  }
  .bagItem .qty .remove > span {
    border-bottom: 1px solid red;
  }

  .summary {
    color: var(--blue);
    flex: 3;
    font-family: questrial;
  }

  .summary .title {
    border-bottom: 0.3vw solid var(--blue);
    display: block;
    font-family: galderglynn;
    font-size: 2vw;
    padding-bottom: 0.5vw;
    width: 100%;
  }

  .summary .bar {
    padding: 0.5vw 0;
  }

  .summary .bar:first-of-type {
    padding-top: 1.8vw;
  }
  .summary .bar:nth-of-type(2) {
    border-bottom: 0.3vw solid var(--blue);
    padding-bottom: 1.8vw;
  }
  .summary .bar:nth-of-type(3) {
    padding: 1.8vw 0;
  }
  .summary .bar .key {
  }
  .summary .bar .val {
    float: right;
  }
  .summary button {
    background-color: var(--blue);
    border: 0.2vw solid var(--blue);
    color:white;
    display: block;
    font-family: questrial;
    font-size: 1.8vw;
    padding: 1vw;
    width: 100%;
  }

  .summary button:hover {
    cursor: pointer;
  }

  .summary button:disabled {
    opacity: 0.5;
  }

  .summary button:disabled:hover {
    cursor: wait;
  }

  .summary button:active {
    background-color: var(--yellow);
    color:var(--blue);
  }
  .summary button:focus {
    outline: 0;
  }
  .summary > img {
    width: 100%;
  }

  [data-braintree-id="choose-a-way-to-pay"] {
    display: none;
  }
  #choosePay {
    color:var(--blue);
    font-family: questrial;
    font-size: 2.2vw;
    font-weight: bold;
  }

  [data-braintree-id="toggle"] {
    background: none;
    color:var(--blue);
    font-family: questrial;
    font-size: 1.5vw;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
  }
  [data-braintree-id="toggle"] span {
    border: none;
  }

  [data-braintree-id="toggle"]:hover {
    background-color: var(--yellow);
    border: 0.2vw solid var(--blue);
    border-radius: 0;
    cursor: w-resize;
  }

  .payment #dropin-container {
    display: none;
  }

  .payment #loadingBox {
    color: var(--blue);
    height: 100%;
    width: 100%;
  }

  .payment #loadingBox img {
    width: 100%;
  }

  .payAndVerify {
    display: flex;
    width: 100%;
  }
  .payAndVerify > div {
    flex: 1;
    padding-right: 2vw;
  }
  .shippingVerification {
    font-size: 10vw;
  }

  /* end BAG */

/* end SHOP */

.adjuster {
  position: relative;
  top: -100px;
}
.container > ul > li {
  font-size:50px;
}
.container > ul > li span {
  font-size:100px;
}

.item {
  color: var(--blue);
  display: flex;
  height: 82%;
  width: 100%;
}

.item .left {
  flex: 7;
  overflow-y: scroll;
  padding-left: 1vw;
  padding-right: 1vw;
}

.item .left img {
  cursor: pointer;
  margin-bottom: 3vh;
  transition-duration: 0.2s;
  width: 100%;
}

.item .left img:hover {
  filter: hue-rotate(180deg);
}

.item .mid {
  /* flex: 59; */
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.item .mid img {
  height: 100%;
}

.item .right {
  flex: 34;
  overflow-y: hidden;
  position: relative;
  padding-left: 1vw;
  top: 15vh;
}

.item .right span#h1 {
  font-family: 'galderglynn', sans-serif;
  font-size: 4.5vw;
}

.item .right span#h2, .item .right span#h3 {
  display: block;
  font-family: questrial;
  font-size: 2.5vw;
  margin: 2vh 0;
}

.item .right span#h3 {
  font-size: 1.5vw;
  padding-right: 2vw;
}


.sizebar {
  height: 3.5vw;
  width: 100%;
}

.sizebar div {
  align-items: center;
  border: 0.2vw solid var(--blue);
  cursor: pointer;
  display: flex;
  float: left;
  font-family: questrial;
  font-size: 2vw;
  height: 100%;
  justify-content: center;
  margin-right: 0.6vw;
  width: 3.5vw;
}

.sizebar div:hover {
  background-color: var(--blue);
  color:white;
}

.sizebar div.selected {
  background-color: var(--yellow);
}

.sizebar div.selected:hover {
  color:var(--blue);
}

.sizebar div > span {
  font-size: 2vw;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: white;
  border: 0.2vw solid var(--blue);
  border-radius: 0;
  color:var(--blue);
  font-family: questrial;
  font-size: 2vw;
  margin-bottom: 2vh;
  padding: 0.5vw 1vw;
  width: 9vw;
  size:4;

  /* arrow things */
  background: url('../iconImages/select_arrow_desktop.png');
  background-position: right 1.7vw center;
  background-repeat: no-repeat;
  background-size: 1vw;
}

select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: var(--yellow);
}

.item .right button {
  background-color: var(--blue);
  border: 0.2vw solid var(--blue);
  color:white;
  display: block;
  font-family: questrial;
  font-size: 2.2vw;
  padding: 1vw;
}
.item .right button:active {
  background-color: var(--yellow);
  color:var(--blue);
}
.item .right button:focus {
}

.item .right #sizeError {
  color:red;
  font-family: questrial;
  font-size: 1.3vw;
  position: relative;
  top: 1vh;
}

.item .right #sizeError.visible {

}

.checkout {
  color: var(--blue);
  font-family: questrial;
}

.checkout .left {
  overflow-y: scroll;
}

.checkout > .formform {
  font-size: 1.5vw;
  width: 100%;
}

.formform > form {
  margin-bottom: 0;
}

.formform > span {
  color:red;
  margin-bottom: 2vw;
}

.checkout input {
  border: 0.2vw solid var(--blue);
  color:var(--blue);
  font-family: questrial;
  font-size: 1.5vw;
  height: 3vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
  width: 100%;
}

.checkout input:-webkit-autofill, .checkout select:-webkit-autofill {
  /* Change the white to any color  */
  -webkit-box-shadow: 0 0 0 30px white inset;
  /* Change text in autofill textbox */
  -webkit-text-fill-color: var(--blue) !important;
}

.formform .title {
  font-family: galderglynn;
  margin-bottom: 1vw;
}

.formform .checkbox {
  align-items: center;
  display: flex;
  float: left;
  margin-bottom: 3vw;
  width: 100%;
}

.formform .checkbox input {
  height: 1.5vw;
  margin: 0;
  padding: 0;
  width: 1.5vw;
}

.formform .checkbox div {
  display: inline-block;
  padding-left: 1.5vw;
}

.formform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: white;
  border: 0.2vw solid var(--blue);
  border-radius: 0;
  color:var(--blue);
  font-family: questrial;
  font-size: 1.5vw;
  height: 3vw;
  margin-bottom: 2vh;
  padding: 0.5vw 1vw;
  width: 100%;
  /* size:4; */

  /* arrow things */
  background: url('../iconImages/select_arrow_desktop.png');
  background-position: right 1.7vw center;
  background-repeat: no-repeat;
  background-size: 1vw;
}

.formform select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--yellow);
}

.checkout .twofer {
  display: flex;
  width: 100%;
}

.checkout .twofer > div {
  flex: 1;
}
.checkout .twofer > .one {
  padding-right: 1vw;
}
.checkout .twofer > .two {
  padding-left: 1vw;
}

.shippingVerification div.bit {
  font-family: questrial;
  font-size: 2vw;
}

.shippingVerification .title {
  font-size: 2.2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.shippingVerification .title.second ,
.shippingVerification .title.third  {
  margin-top: 1vw;
}

#badAddressBack {
  font-size: 2vw;
  text-decoration: underline;
}

#badAddressBack:hover {
  cursor: pointer;
  text-decoration: overline;
}

.completed > div {
  background-color: var(--blue);
  color:white;
  display: inline-block;
  font-family: galderglynn;
  font-size: 10vw;
}

.completed button {
  background-color: white;
  border: 0.2vw solid var(--blue);
  color:var(--blue);
  display: inline-block;
  font-family: questrial;
  font-size: 5vw;
  padding: 1vw 2vw;
}

.completed button:hover {
  background-color: var(--blue);
  border: 0.2vw solid white;
  color:white;

}

@media only screen and (max-width: 650px) {

  a {
    text-decoration: none;
  }
  body {
    /* overflow: hidden; */
  }

  #output {
    color:var(--blue);
  }

  #mobileStart .press {
    background-color: red;
    /* font-size: 18vw; */
    font-size: inherit;
    left: 38%; /* off screen to start */
    position: fixed;
    top: 55%;
    width: 100%;
  }

  #mobileStart .press svg {
    position: inherit;
    width: 66%;
  }

  #welcome svg text, .press svg text {
    stroke-width: 0.8vw;
  }

  #mobileStart .enterText {
    border: 0.5vw solid var(--blue);
    bottom: 20vh;
    font-family: questrial;
    font-size: 5vw;
    height: 8vw;
    left:30vw;
    padding: 0.5vw;
    width: 40vw;
  }

  /* .press {
    font-size: 100px;
    position: relative;
    top: 0;
    left: 0;
  }
  .press svg {
    position: fixed;
  } */


  /*  mobile home */
  .homeDesktop div {
    border: 0.5vw solid var(--blue);
    padding: 0;
  }

  .homeDesktop .work, .homeDesktop .shopText, .homeDesktop .mark {
    height: 10vw;
    padding: 2.5vw;
  }


  .homeDesktop .work {
    cursor: pointer;
    display: none;
    left: 50vw;
    top: 20vh;
  }

  .work .workList {
    margin-left: 0;
    margin-top: 10vw;
    text-decoration: underline;
  }
  .work .workList ul {
    margin: 0;
    padding: 0;
  }


  .work .workBottom {
    font-size: 5vw;
    padding: 0 7vw 10vw 0;
  }
  .work #mailto {
    text-decoration: underline;
  }

  .homeDesktop div img {
    height: 100%;
  }

  .homeDesktop .shopText {
    cursor: pointer;
    display: none;
    right: 30vw;
    top: 32vh;
  }

  .homeDesktop .mark {
    bottom: 10vh;
    cursor: pointer;
    display: none;
    left: 84vw;
  }

  .homeDesktop .info {
    display: none;
    bottom: 25vh;
    font-family: questrial;
    font-size: 4vw;
    left: 8vw;
    max-width: 68vw;
    padding: 3vw;
  }

  .homeDesktop .info a {
    text-decoration: underline;
  }


  #leftStacked {
    bottom: 0;
    height: 80%;
    padding: 2vh;
    position: absolute;
    z-index: -1000;
  }
  #leftStacked img {
    height: 80vh;
  }


  .mobileShop {
    display: flex;
    /* overflow:auto; */
  }

  .mobileShop #shopProductName {
    font-size: 13vw;
  }

  .shopLeft {
    flex: 1;
    flex-shrink: 0;
  }

  #sidescroll > img {
    margin-bottom: 20;
  }


  .shopBox {
    border: .7vw solid var(--blue);
    flex: 9;
    height: inherit;
    padding: 6vw;
    padding-top: 2vw;
  }

  .banner {
    height: 20vw;
  }

  .banner img#leftBannerIcon {
    height: 50%;
    padding-left: 1vw;
  }

  .banner img#shopBannerText {
    height: 60%;
  }

  .itemPreview {
    color:var(--blue);
    font-family: galderglynn;
    font-size: 7vw;
  }

  .itemPreview .imageHolder {
    border: 0.6vw solid var(--blue);
    margin-top: 3vw;
  }

  .itemPreview img {
    width: 100%;
  }

  .mobileItem {
    color:var(--blue);
  }

  select {
    border: 0.6vw solid var(--blue);
    font-size: 5vw;
    height: 10vw;
    margin-bottom: 2vh;
    padding: 0.5vw 4vw;
    width: 26vw;
    size:4;

    /* arrow things */
    background: url('../iconImages/select_arrow_desktop.png');
    background-position: right 4vw center;
    background-repeat: no-repeat;
    background-size: 3.5vw;
  }

  select option {
  }

  .mobileItem .mid {
    align-items: center;
    border: 0.8vw solid var(--blue);
    display: flex;
    justify-content: center;
    padding: 5vw;
  }

  .mobileItem .mid img {
    width: 100%;
  }

  .mobileItem .itemPreview {
    margin-bottom: 3vw;
  }

  .mobileItem .low {
    display: flex;
    /* height: 14vw; */
    padding: 1.4vw 0;
    width: 100%;
  }

  .mobileItem .itemName {
    /* un-comment two comments below to active vertical centering */
    /* align-items: center; */
    color:var(--blue);
    /* display: inline-flex; */
    flex: 68.5;
    flex-shrink: 0;
    font-size: 5vw;
    max-width: 68.5%;
    padding-right: 1vw;
    word-wrap: break-word;
  }

  .mobileItem button {
    background-color: var(--blue);
    border: 0;
    color:white;
    float: right;
    font-family: questrial;
    font-size: 5vw;
    height: 13vw;
    padding: 1.9vh 8.3vw 2.1vh 8.3vw;
    flex: 31.5;
    flex-shrink: 0;
  }
  .mobileItem button:active {
    background-color: var(--yellow);
    color:var(--blue);
  }
  .mobileItem button:focus {
    outline:  0.2vw solid var(--blue);
  }

  .mobileItem .sizebar {
    /* background-color: red; */
    color: var(--blue);
    flex: 70;
    height: 14vw;
    width: inherit;
  }

  .mobileItem .sizebar div {
    border: 0.6vw solid var(--blue);
    height: 10vw;
    margin-right: 4vw;
    width: 10vw;
  }

  .mobileItem .sizebar div > span {
    font-size: 5vw;
  }

  .bagItem {
    display: block;
    padding-bottom: 5vw;
  }

  .bagItem .itemName {
    font-family: galderglynn;
    padding-bottom: 2vw;
    width: 100%;
  }

  .bagItem .flexOnEm {
    display: flex;
    /* height: 60vw; */
    width: 100%;
  }

  .bagItem .flexOnEm .pic {
    border: 0.6vw solid var(--blue);
    flex: 1;
    margin-right: 2vw;
  }

  .pic img {
    width: 100%;
  }

  .bagItem .pic img {
    height: inherit;
  }

  .bagItem .flexOnEm .details {
    flex: 1;
    font-size: 6vw;
    padding-left: 2vw;
  }

  .details .remove {
    color:red;
    padding-top: 4vw;
    text-decoration: underline;
  }

  .summary {
    font-size: 6vw;
  }
  .summary .title {
    border-bottom: 0.8vw solid var(--blue);
    font-size: 5vw;
    padding-bottom: 0.3vw;
  }
  .summary .bar {
    padding: 1.2vh 0;
  }
  .summary .bar:nth-of-type(1){
    padding-bottom: 1vw;
    padding-top: 4vw;
  }
  .summary .bar:nth-of-type(2){
    border-bottom: 0.8vw solid var(--blue);
    padding-bottom: 4vw;
    padding-top: 1vw;
  }
  .summary .bar:nth-of-type(3){
    padding-bottom: 4vw;
    padding-top: 4vw;
  }
  /* .summary .bar:nth-of-type(4){
    padding-bottom: 4vw;
    padding-top: 0vw;
  } */
  .summary .bar .key {
    font-size: 5vw;
  }
  .summary .bar .val {
    float: right;
    font-size: 5vw;
  }
  .summary button {
    border: 0.8vw solid var(--blue);
    font-size: 5vw;
    /* height: 10vw; */
    margin-top: 3vw;
    padding: 1.9vh 8.3vw 2.1vh 8.3vw;
  }

  .checkout > .formform {
    font-size: 6vw;
  }

  .formform > form {
    font-size: 6vw;
    margin-bottom: 0;
  }

  .formform > span {
    color:red;
  }

  .checkout input {
    border: 0.5vw solid var(--blue);
    color:var(--blue);
    font-family: questrial;
    font-size: 6vw;
    height: 8vw;
    margin-bottom: 2vw;
    padding-left: 1vw;
    width: 100%;
  }

  .checkout input:-webkit-autofill, .checkout select:-webkit-autofill {
    /* Change the white to any color  */
    -webkit-box-shadow: 0 0 0 30px white inset;
    /* Change text in autofill textbox */
    -webkit-text-fill-color: var(--blue) !important;
  }

  .formform .title {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .formform select {
    border: 0.5vw solid var(--blue);
    font-size: 6vw;
    height: 8vw;
    margin-bottom: 2vh;
    padding: 0.5vw 1vw;

    /* arrow things */
    background: url('../iconImages/select_arrow_desktop.png');
    background-position: right 3vw center;
    background-repeat: no-repeat;
    background-size: 4vw;
  }

  .formform select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--yellow);
  }

  .formform .checkbox {
    align-items: center;
    display: flex;
    float: left;
    margin-bottom: 3vw;
    width: 100%;
  }

  .formform .checkbox input {
    height: 5vw;
    margin: 0;
    padding: 0;
    width: 5vw;
  }

  .formform .checkbox div {
    display: inline-block;
    font-size: 5vw;
    padding-left: 1.5vw;
  }

  #choosePay {
    font-size: 5vw;
    font-weight:normal;
    margin-bottom: 2vw;
  }

  [data-braintree-id="toggle"] {
    background: none;
    color:var(--blue);
    font-family: questrial;
    font-size: 5vw;
    margin-bottom: 4vw;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
  }
  [data-braintree-id="toggle"] span {
    border: none;
  }

  [data-braintree-id="toggle"]:hover {
    background-color: var(--yellow);
    border: 0.2vw solid var(--blue);
    border-radius: 0;
    cursor: w-resize;
  }
  .braintree-placeholder {
    display: none;
  }

  .shippingVerification {
    /* display: none; */
    margin-top: 4vw;
  }

  .shippingVerification .title{
    font-size: 5vw;
  }
  .shippingVerification .title.second ,
  .shippingVerification .title.third  {
    margin-top: 2vw;
  }
  .shippingVerification div.bit {
    font-size: 4vw;
  }
  .shippingVerification #badAddressBack {
    font-size: 5vw;
  }
}
