@font-face {
  font-family: 'galderglynn';
  src: url('../fonts/galderglynn/galderglynn_titling_bl.ttf');
}

div {
  font-family: 'galderglynn';
}

.strokeText {
  border: 1px solid blue;
  font-size: 15px;
  width: 700px;
}

.special {
  width: 500px;
}

.strokeText > svg {
  background-color: hotpink;
}

text {
}
